:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fafafa;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1b1b;
    }
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a:link,a:visited {
    text-decoration: none;
}

a:visited {
    color: LinkText;
}

a:hover {
    text-decoration: underline;
}