:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fafafa;
        --text-color: #black;
        --link-color: #00e;
        --contents-box-shadow: grey;
        --hero-button-box-shadow: black;
        --hero-button-background: #fffb;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1b1b1b;
        --text-color: #fbfbfe;
        --link-color: #8c8cff;
        --contents-box-shadow: black;
        --hero-button-box-shadow: white;
        --hero-button-background: #000b;
    }
}

body {
    margin: 0px;
    background-color: var(--background-color);
}

body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -1;

    background-size: 60px 60px;
    background-position: -10px -10px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    filter:
        drop-shadow( 5px 5px 5px grey );
}

a:link,a:visited {
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

@media (min-width: 520px) {
    #hero-links {
        flex-direction: row;
    }
}

@media (max-width: 520px) {
    #hero-links {
        flex-direction: column;
    }
}

#hero-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero-links > div {
    background-color: var(--hero-button-background);
    border: 2px white solid;
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--hero-button-box-shadow);
    padding: 4px 4px 0px 4px;
    height: 100%;
    transition-duration: 0.2s;
    transition-property: box-shadow;
}

#hero-links div:hover {
    box-shadow: 0px 0px 16px var(--hero-button-box-shadow);
}

#hero-links p {
    float: right;
    color: var(--text-color);
    margin: 0px 0px 0px 4px;
    font-size: 24px;
}

#hero-links img {
    height: 32px;
}

#contents {
    background-color: var(--background-color);
    box-shadow: 0px -5px 5px var(--contents-box-shadow);
}

#contents {
    text-align: center;
    min-height: 100vh;
}

#screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#screenshots img {
    width: 100%;
    max-width: 1080px;
    margin: 20px 10px 0px 10px;
}

#screenshots p {
    margin-top: 0px;
}